<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <form class="form-inline text-center #myForm='ngForm' myForm.reset()">
            <div class="md-form my-4">
                <input class="form-control mr-md-7" type="text" placeholder="Search here.." [(ngModel)]='username'
                    name='username' (keyup)='getProfile()' aria-label="Search">
            </div>
        </form>
    </div>
</div>
<div>
    <div class="row ">
        <div class="col-lg-5 col-md-6 clearfix">
            <!--Card-->
            <div class="card float-left">
                <!--Card content-->
                <div class="card-body elegant-color white-text">
                    <!--Title-->
                    <h4 class="card-title">Git search</h4>
                    <!--Text-->
                    <p class="card-text white-text">
                        Allows you to check-out various GitHub users Finally, you can also check them out on their actual
                        GitHub page!
                    </p>
    
                </div>
    
            </div>
    
    
        </div>